version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: axelive_server_1
      APP_PORT: 5210

  server:
    image: ghcr.io/willitmod/axelive-release:v1.1-beta13@sha256:d57abd5e43e83a1484ee0d5a94defa61ff59a1c592659f208151aedb10f39935
    restart: on-failure
    stop_grace_period: 30s
    init: true
    environment:
      AXELIVE_HOME: /data
      AXELIVE_PORT: 5210
      AXELIVE_HOST: 0.0.0.0
      AXELIVE_OPEN_UI: 0
    volumes:
      - ${APP_DATA_DIR}/data:/data
